<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.formulastudent.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name=".FSSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LoginStyle"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".mvp.view.screen.login.LoginActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.view.screen.NFCReaderActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name=".mvp.view.screen.egresschrono.EgressChronoActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".mvp.view.screen.statistics.StatisticsActivity"/>
        <activity android:name=".mvp.view.screen.adminoperations.AdminOpsActivity"/>
        <activity android:name=".mvp.view.screen.qrreader.QRReaderActivity"/>
        <activity android:name=".mvp.view.screen.conecontrolstats.ConeControlStatsActivity"/>
        <activity android:name=".mvp.view.screen.loginregister.RegisterActivity"/>
        <activity android:name=".mvp.view.screen.welcome.MainActivity"
            android:theme="@style/MainStyle">
        </activity>
    </application>
</manifest>