<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.formulastudent.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:name=".FSSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Hola"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name=".mvp.view.screen.welcome.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.view.screen.NFCReaderActivity"
            android:label="Formula Student Spain"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".mvp.view.screen.teammember.TeamMemberActivity"
            android:label="Formula Student Spain"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".mvp.view.screen.teammemberdetail.TeamMemberDetailActivity"
            android:label="User detail"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name=".mvp.view.screen.egresschrono.EgressChronoActivity"
            android:label="Egress chrono"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mvp.view.screen.raceaccess.RaceAccessActivity"/>
        </activity>

        <activity
            android:name=".mvp.view.screen.statistics.StatisticsActivity">
        </activity>

        <activity
            android:name=".mvp.view.screen.adminoperations.AdminOpsActivity">
        </activity>

        <activity
            android:name=".mvp.view.screen.racecontrol.RaceControlActivity">
        </activity>

        <activity
            android:name=".mvp.view.screen.racecontrol.RaceControlWelcomeActivity">
        </activity>

        <activity
            android:name=".mvp.view.screen.user.UserActivity">
        </activity>

        <activity
            android:name=".mvp.view.screen.qrreader.QRReaderActivity">
        </activity>

        <activity
            android:name=".mvp.view.screen.userdetail.UserDetailActivity">
        </activity>
        <activity
            android:name=".mvp.view.screen.conecontrol.ConeControlWelcomeActivity">
        </activity>
        <activity
            android:name=".mvp.view.screen.conecontrol.ConeControlActivity">
        </activity>
        <activity
            android:name=".mvp.view.screen.conecontrolstats.ConeControlStatsActivity">
        </activity>
        <activity
            android:name=".mvp.view.screen.loginregister.RegisterActivity">
        </activity>
    </application>
</manifest>